
html, body {
  margin: auto;
  padding: auto;
  background-color: lightblue;
  color: #776e65;
  font-family: Arial, sans-serif;
}

h1.title {
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  display: block;
  float: left; 
}
span
{
  position:relative;
    top:100px;
  magrin:auto;
  display:block;
}
.container {
  width: 800px;
  margin: 0 auto;
}

#sugarScape {
  margin-top: 100px;
}


